*Нет внешних зависимостей (только стандартная библиотека Python)
*Работает только на ОС Linux (в ином случае, программа не запуститься)
*Дистрибутив: Kali Linux
*Python: 3.10+ (обычно подойдет любой Python 3)
*Встроенные команды: "find", "ss", "dpkg-query" (на Kali обычно есть)